<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..3) %>"></div>
    <div><%= post.user.email %></div>
  </div>

  <div class="post-body">
    <span><%= post.body %></span>
  </div>

  <div class="post-actions">
    <%= render partial: "posts/actions", locals: { post: } %>

    <div class="post-actions-comments" id="<%= dom_id(post) %>-comments-count">
      <%= render partial: "posts/comments/count", locals: { post: } %>
    </div>
  </div>

  <div class="post-comments">
    <%= render partial: "posts/comments/form", locals: { post: } %>
    <%= render partial: "comments/list", locals: { post: } %>
  </div>
</div>
